/* colours for layout */


x.temp-notes { color: white; background: black; }
x.logic-selection{ background: aliceblue; }
x.sequent-math { background: antiquewhite; }
x.right-rules { background: aquamarine; }
x.left-rules { background: lavender; }
x.typing-rules { background: cornflowerblue; }
x.expression-grammar { background: darkgrey; }
x.introduction { background: pink; }
x.notes { background: peachpuff; }
x.menu {	background: white; }
x.menu-container { background: green; }
x.menu-container A { background: pink; }
x.logic-comparison { background: peachpuff; }
x.proof-strategy { background: wheat; }


/*********************
* Fonts

font-family: 'Playfair Display', serif;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Slabo 27px', serif;
font-family: 'Lobster Two', cursive;
*********************/

@font-face {
font-family: "Computer Modern";
src: url('../fonts/cmuntb-webfont.woff');
}

/*********************
* Dev styles
*********************/

.hidden
{
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	overflow: hidden;
	visibility: hidden;
}

.note
{
	padding: 10px;
	margin: 20px;
}

.note-visual
{
	align-self: center;
	margin: 10px 20px;
}

.example
{
	outline: 2px dashed black;
	padding: 15px;
	margin: 30px auto;
	max-width: 90%;
}

.children-horizontal
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

/******************************
*  TOP-LEVEL STRUCTURE
******************************/

.frame
{
	margin-top: 50px;
	padding: 15px;
	outline: 1px solid black;
	display: flex;
	flex-direction: column;
	background: white;
}

.section
{
	margin: 20px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-content: center;
}

.outline
{
	outline: 2px solid lightgray;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: lightgrey;
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;

  display: flex;
  align-items: center;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

.dock-bottom
{
	position: fixed;
	bottom: 0;
	right: 0;
	background: white;
	width: 100%;
	max-height: 320px;
	outline: 1px solid black;
}

.top-container
{
	background: #551A8B;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: absolute;
	font-size: 25px;
	font-family: 'Roboto', sans-serif;
	padding-bottom: 30px;
}

/**********
*  TITLES
**********/

.top-title
{
	font-size: 50px;
	align-self: center;
	font-family: 'Lobster Two', cursive;
}

.title
{
	font-size: 40px;
	padding: 15px 0;
	font-family: 'Slabo 27px', serif;
}

.subtitle
{
	font-size: 28px;
	padding: 10px;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}

.subsub
{
	font-size: 24px;
}


/**********
*  MENU
**********/

.menu
{
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	background: #551A8B;
	outline: 2px solid black;
	z-index: 1;
}

.menu-container
{
	position: relative;
	display: flex;
	justify-content: space-around;
}

.menu-item
{
	font-family: 'Slabo 27px', serif;
	color: white;
}




/********************
*  RULES
*********************/

div.rules
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-end;
	font-size: 25px;
}

.rule-root
{
	margin: 30px;
}


.rule-top
{
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.rule-text
{
	min-width: 60px;
	font-size: 20px;
	margin-left: 0 10px;
	font-style: oblique;
}

.rule-top-center {}

.premise-container
{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.premise
{
	margin: 0 auto;
	padding: 0 20px; /* set minumum spacing between premises when no subtree */
}

.divider
{
	min-width: 200px;
	border-top: 1px solid black;
	margin-bottom: 10px; /* best bottom margin will depend on the font size */
	margin-top: 5px;
}

.rule-text-right
{
  display: inline;
}

.rule-bottom
{
  display: flex;
  justify-content: center;
  padding-bottom: 5px;
}

.stack
{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.node-row
{
	display: flex;
	flex-direction: row;
	align-items: center;
}

.node-row i
{
	margin: 10px;
}

.proof-tree-mod .rule-text
{
	min-width: 0;
}




.scroll
{
	overflow-y: scroll;
	max-height: 240px;
}

.code td
{
	min-width: 250px;
}

.code
{
	font-family: "Computer Modern";
	font-size: 30px;
}

.space-row
{
	height: 20px;
}

.example-row
{
	outline: 2px dashed black;
}

.code-table td
{
	padding: 20px;
	margin: 20px;
}

.display-table
{
	margin: 0 auto;
	padding: 10px;
}

.display-table td
{
	padding: 5px 40px;
	/*min-width: 250px;*/
}

li
{
	margin: 10px;
}

.feature
{
	border: 1px solid purple;
	padding: 5px;
}

.pad-bottom
{
	padding-bottom: 270px;
}

.center-flex
{
	display: flex;
	justify-content: center;
}

.flex-end
{
	align-self: flex-end;
}

/*
Update before presentation (make sure both hidden)
*/


.todo
{
	font-size: 20px;
	color: lightgrey;
	display: none;
	visibility: hidden;
}

.todo-urgent
{
	font-size: 25px;
	color: red;
}

.presentation-note
{
	font-size: 20px;
	color: green;
	margin: 15px 0;
	display: none;
	visibility: hidden;
}

.question-for-amy
{
	font-size: 25px;
	color: blueviolet;
	/*display: none;
	visibility: none;*/
}